# private url
BACKEND_API_URL=http://localhost:5000
# public url for client components
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000

NEXT_PUBLIC_IMGBB_API_KEY=your image bb api key


JWT_ACCESS_SECRET=Your beckend secret
JWT_REFRESH_SECRET=Your beckend secret